@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 230, 230, 230;
  --primary: 74, 85, 162;
  --secondary: 120, 149, 203;
  --tertiary: 0, 0, 0;
  --button-text: 230, 230, 230;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

button {
  font-size: 1rem;

  margin: 1rem 0;
  padding: 0.5rem 1rem;

  border-radius: 0.25rem;
  border: 0;

  background: rgb(var(--primary));
  color: rgb(var(--button-text));

  cursor: pointer;
}

button:hover {
  font-weight: 700;
}

img {
  max-width: 100%;
  margin: auto;
}

.image-container {
  position: relative;
}