:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 230, 230, 230;
  --primary: 74, 85, 162;
  --secondary: 120, 149, 203;
  --tertiary: 0, 0, 0;
  --button-text: 230, 230, 230;
  --error: 238, 75, 43;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

/* Layout Styles */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
}

.flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.flex-row-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-column-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.flex-row-center > button {
  margin: 0;
}

/* Text Styles */
h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

h3 {
  font-size: 1rem;
  font-weight: 400;
}

p {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 0.5rem;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.filled {
  min-width: 200px;
  padding: 1rem;

  background-color: rgb(var(--primary));
  color: rgb(var(--button-text));
  border-radius: 0.5rem;

  text-align: center;
}

/* Button and Link Styles */
a {
  color: rgb(var(--primary));
  text-decoration: none;
  font-weight: 700;
}

button {
  font-size: 1rem;

  margin-top: 1rem;
  padding: 0.5rem 1rem;

  border-radius: 0.5rem;
  border: 0;

  background: rgb(var(--primary));
  color: rgb(var(--button-text));

  cursor: pointer;
}

button:hover {
  font-weight: 700;
}

button:disabled {
  background-color: rgb(var(--secondary));
  cursor: not-allowed;
}

button > a {
  color: rgb(var(--button-text));
  text-decoration: none;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

/* Icon Styles */
.icon-button {
  background: transparent;
  color: rgb(var(--primary));
  cursor: pointer;
  padding: 0;
}

/* Image Styles */
img {
  max-width: 100%;
  margin: auto;
}

.image-container {
  position: relative;
}

/* Form Styles */
form {
  display: flex;
  flex-direction: column;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 0.9rem;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: rgb(var(--primary));
  color: rgb(var(--button-text));
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

input[type="submit"]:hover {
  font-weight: 700;
}

input[type="submit"]:disabled {
  background-color: rgb(var(--secondary));
  cursor: not-allowed;
}

.error {
  color: rgb(var(--error));
  font-weight: 700;
}

/* List Styles */
ul {
  padding: 1rem;
  list-style-type: none;
}

li {
  margin: 1.5rem 0;
  padding: 1rem;
}

/* Card */
.card {
  width: 200px;
  border-radius: 0.5rem;
  background-color: rgb(220, 220, 220);
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  overflow: hidden; /* Hide the overflowing text */
  text-overflow: ellipsis; /* Truncate the text with ellipsis */
  white-space: nowrap; /* Prevent the text from wrapping */
}