.container {
  max-width: 800px;
  margin: auto;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;

  animation: fadeInAnimation ease-out 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.container > div {
  width: 100%;
  min-height: 30%;
  padding: 2rem;
}

.container button {
  margin: 0 0.5rem;
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
