.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgb(var(--primary));
  color: rgb(var(--text));
}

.logo {
  padding: 0.5rem;
}

.links {
  display: flex;
  gap: 20px;
}

.links a {
  display: flex;
  justify-self: start;
  align-items: center;
  gap: 0.5rem;
  color: rgb(var(--text));
  text-decoration: none;
}

/* Hamburger menu */
.hamburger {
  font-size: 1.5rem;
  cursor: pointer;
  display: none; /* Hide by default on desktop */
}

.active {
  font-weight: 700;
}

/* Media query for mobile */
@media (max-width: 768px) {
  .links {
    display: none; /* Hide links on mobile */
    flex-direction: column;
    padding: 1rem;
    background-color: rgb(var(--primary));;
    position: absolute;
    top: 85px;
    left: 0;
    width: 100%;
  }

  .hamburger {
    display: block; /* Show hamburger on mobile */
  }

  /* Show links when hamburger is clicked */
  .links.show-links {
    display: flex;
  }
}
